name: Integrity Test

on:
  workflow_dispatch: {}
        
  pull_request:
    branches:
    - main

jobs:
  compute-matrix:
      runs-on: ubuntu-latest
      outputs:
        matrix: ${{ steps.supported-version.outputs.matrix }}
      steps:
        - uses: actions/checkout@v3
        - uses: graycoreio/github-actions-magento2/supported-version@main
          with:
            kind: all
          id: supported-version
  integrity-test:
    needs: compute-matrix
    runs-on: ubuntu-latest
    strategy:
      matrix: ${{ fromJSON(needs.compute-matrix.outputs.matrix) }}
    steps:
    - run echo ${{ matrix.magento }}