name: Integrity Test

on:
  workflow_dispatch: {}
        
  pull_request:
    branches:
    - main

jobs:
  compute-matrix:
      runs-on: ubuntu-latest
      outputs:
        matrix: ${{ steps.supported-version.outputs.matrix }}
      steps:
        - uses: actions/checkout@v3
        - uses: graycoreio/github-actions-magento2/supported-version@main
          with:
            kind: all
          id: supported-version
  integrity-test:
    needs: compute-matrix
    runs-on: ubuntu-latest
    strategy:
      matrix: ${{ fromJSON(needs.compute-matrix.outputs.matrix) }}
    steps:
    - uses: actions/checkout@v3
    - name: Set PHP Version
      uses: shivammathur/setup-php@v2
      with:
        php-version: ${{ matrix.php }}
        tools: composer:v${{ matrix.composer }}
        coverage: none

    - run: composer global require hirak/prestissimo
      name: Install composer plugin for parallel downloads
      if: ${{ startsWith(matrix.composer, '1') }}

    - run: composer create-project --repository-url="https://repo.magento.com/" "${{ matrix.magento }}" ${{ github.workspace }}/magento
      shell: bash
      env:
        COMPOSER_AUTH: ${{ secrets.composer_auth }}
      name: Create Magento ${{ matrix.magento }} Project

    - run: composer create-project --repository-url="https://preview-mirror.mage-os.org/" "${{ matrix.magento }}" ${{ github.workspace }}/mageos
      shell: bash
      name: Create MageOS ${{ matrix.magento }} Project
    - run: diff -rq -x "*composer*" -x "*autoload*" ${{ github.workspace }}/magento ${{ github.workspace }}/mageos