name: Integrity Test

on:
  workflow_dispatch: {}
        
  pull_request:
    branches:
    - main

jobs:
  compute-matrix:
      runs-on: ubuntu-latest
      outputs:
        matrix: ${{ steps.supported-version.outputs.matrix }}
      steps:
        - uses: actions/checkout@v3
        - uses: graycoreio/github-actions-magento2/supported-version@main
          with:
            kind: all
          id: supported-version
  integrity-test:
    needs: compute-matrix
    runs-on: ubuntu-latest
    strategy:
      matrix: ${{ fromJSON(needs.compute-matrix.outputs.matrix) }}
    steps:
    - uses: actions/checkout@v3
    - name: Set PHP Version
      uses: shivammathur/setup-php@v2
      with:
        php-version: ${{ matrix.php }}
        tools: composer:v${{ matrix.composer }}
        coverage: none

    - run: composer global require hirak/prestissimo
      name: Install composer plugin for parallel downloads
      if: ${{ startsWith(matrix.composer, '1') }}

    # Magento
    - run: composer create-project --repository-url="https://repo.magento.com/" "${{ matrix.magento }}" ${{ github.workspace }}/magento --no-install
      shell: bash
      env:
        COMPOSER_AUTH: ${{ secrets.composer_auth }}
      name: Create Magento ${{ matrix.magento }} Project

    - run: composer require monolog/monolog:"<2.7.0" --no-update
      name: Fixup Monolog (https://github.com/magento/magento2/pull/35596)
      working-directory: ${{ github.workspace }}/magento
      if: steps.magento-version.outputs.version == '"2.4.4"'

    - run: | 
        composer config --no-interaction allow-plugins.dealerdirect/phpcodesniffer-composer-installer true
        composer config --no-interaction allow-plugins.laminas/laminas-dependency-plugin true
        composer config --no-interaction allow-plugins.magento/* true
      name: Fixup Composer Plugins
      working-directory: ${{ github.workspace }}/magento 
      if: ${{ !startsWith(matrix.composer, '1') }}

    - run: composer install

    # MageOS
    - run: composer create-project --repository-url="https://preview-mirror.mage-os.org/" "${{ matrix.magento }}" ${{ github.workspace }}/mageos --no-install
      shell: bash
      env:
        COMPOSER_AUTH: ${{ secrets.composer_auth }}
      name: Create Magento ${{ matrix.magento }} Project

    - run: composer require monolog/monolog:"<2.7.0" --no-update
      name: Fixup Monolog (https://github.com/magento/magento2/pull/35596)
      working-directory: ${{ github.workspace }}/mageos
      if: steps.magento-version.outputs.version == '"2.4.4"'

    - run: | 
        composer config --no-interaction allow-plugins.dealerdirect/phpcodesniffer-composer-installer true
        composer config --no-interaction allow-plugins.laminas/laminas-dependency-plugin true
        composer config --no-interaction allow-plugins.magento/* true
      name: Fixup Composer Plugins
      working-directory: ${{ github.workspace }}/mageos 
      if: ${{ !startsWith(matrix.composer, '1') }}

    - run: composer install

    # Integrity Check
    - run: diff -rq -x "*composer*" -x "*autoload*" ${{ github.workspace }}/magento ${{ github.workspace }}/mageos